CopyPipeline_ReportUsageLogs
{
    "name": "CopyPipeline_ReportUsageLogs",
    "properties": {
        "activities": [
            {
                "name": "Lookup",
                "description": "Lookup [PPM].[Workspaces] to get a list of workspace name/IDs and report usage metrics dataset IDs",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "select * from [PPM].[Workspaces]",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "LD_PowerBIWorkspaces",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach",
                "description": "For each row in[PPM].[Workspaces] generate a http trigger request to run lapp-pSIMECDPPowerbi ",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Web",
                            "description": "Http request to trigger lapp-pSIMECDPPowerbi ",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": "https://prod-03.australiasoutheast.logic.azure.com:443/workflows/76ea716aed0540d5adc8348179ec77f8/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=0lieE2cNY8WyZjMJDdhW6d_VAu4MhHsjzpfJZ1BaJF0",
                                "method": "POST",
                                "body": {
                                    "value": "{\"Workspace\":\"@{item().Workspace}\",\"Dataset\":\"@{item().Dataset}\",\n\"Name\":\"@{item().Name}\"}\n\n",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "ForEach_copytoSQL",
                "description": "For each row in[PPM].[Workspaces] generate a http trigger request to run lapp-pSIMECDPPowerbi ",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "ForEach",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Copy data1",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false,
                                        "prefix": {
                                            "value": "@{item().name}",
                                            "type": "Expression"
                                        }
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "SftpWriteSettings",
                                        "operationTimeout": "01:00:00",
                                        "useTempFileRename": true
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".csv"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "mappings": [
                                        {
                                            "source": {
                                                "name": "[Asset Name]",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "Asset_Name",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "[User_ID]",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "User_ID",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "[Datestamp]",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "Datestamp",
                                                "type": "DateTime",
                                                "physicalType": "datetime"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "[Views]",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "Views",
                                                "type": "Int32",
                                                "physicalType": "int"
                                            }
                                        }
                                    ],
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "SD_PowerBILogs",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DD_PowerBI",
                                    "type": "DatasetReference"
                                }
                            ]
                        }
                    ]
                }
            }
        ],
        "variables": {
            "workspace": {
                "type": "String"
            },
            "currentDate_Year_Databricks": {
                "type": "String"
            },
            "currentDate_Month_Databricks": {
                "type": "String"
            },
            "currentDate_Day_Databricks": {
                "type": "String"
            }
        },
        "folder": {
            "name": "PPM Final deployable"
        },
        "annotations": [],
        "lastPublishTime": "2023-06-27T15:57:41Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
