CopyPipeline_DatabricksAuditData.txt
{
    "name": "CopyPipeline_DatabricksAuditData",
    "properties": {
        "activities": [
            {
                "name": "get_currentDate_Year",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "currentDate_Year_Databricks",
                    "value": {
                        "value": "@formatDateTime(addDays(utcNow(),-1), 'yyyy')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "get_currentDate_Month",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "get_currentDate_Year",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "currentDate_Month_Databricks",
                    "value": {
                        "value": "@formatDateTime(addDays(utcNow(),-1), 'MM')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "get_currentDate_Day",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "get_currentDate_Month",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "currentDate_Day_Databricks",
                    "value": {
                        "value": "@formatDateTime(addDays(utcNow(),-1), 'dd')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Copy_AuditData_to_Processing",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "get_currentDate_Day",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "AzureBlobStorageReadSettings",
                            "recursive": true,
                            "wildcardFileName": "*.json",
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "sink": {
                        "type": "JsonSink",
                        "storeSettings": {
                            "type": "SftpWriteSettings",
                            "copyBehavior": "FlattenHierarchy",
                            "operationTimeout": "01:00:00",
                            "useTempFileRename": true
                        },
                        "formatSettings": {
                            "type": "JsonWriteSettings"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "SD_DatabricksUsage",
                        "type": "DatasetReference",
                        "parameters": {
                            "Day": "@variables('currentDate_Day_Databricks')",
                            "Month": "@variables('currentDate_Month_Databricks')",
                            "Year": "@variables('currentDate_Year_Databricks')",
                            "path": {
                                "value": "@pipeline().parameters.Directory_DatabricksUsage",
                                "type": "Expression"
                            },
                            "container_name": {
                                "value": "@pipeline().parameters.Container_DatabricksUsage",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DD_DatabricksUsage",
                        "type": "DatasetReference"
                    }
                ]
            }
        ],
        "parameters": {
            "Directory_DatabricksUsage": {
                "type": "string",
                "defaultValue": "WorkspaceResourceId=/subscriptions/02659dce-3c31-471f-829f-cecef155c4ff/resourcegroups/ignite_sandbox_dhamilton_rg/providers/microsoft.operationalinsights/workspaces/ignite-sandbox-databricks-logs/"
            },
            "Container_DatabricksUsage": {
                "type": "string",
                "defaultValue": "am-databricksunitycatalog"
            }
        },
        "variables": {
            "workspace": {
                "type": "String"
            },
            "currentDate_Year_Databricks": {
                "type": "String"
            },
            "currentDate_Month_Databricks": {
                "type": "String"
            },
            "currentDate_Day_Databricks": {
                "type": "String"
            }
        },
        "folder": {
            "name": "PPM Final deployable"
        },
        "annotations": [],
        "lastPublishTime": "2023-06-27T15:57:41Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
