CopyPipeline_InfrastructureCosts.txt
{
    "name": "CopyPipeline_InfrastructureCosts",
    "properties": {
        "activities": [
            {
                "name": "Get Metadata",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "SD_AzureCosts",
                        "type": "DatasetReference",
                        "parameters": {
                            "Directory": {
                                "value": "@pipeline().parameters.Directory_AzureCosts",
                                "type": "Expression"
                            },
                            "Filename": "*.csv",
                            "Container": {
                                "value": "@pipeline().parameters.Container_AzureCosts",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "ForEach_AzureCosts",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get Metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get Metadata').output.childItems",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Copy_Azurecosts",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "Sub_Copy_AzureSQLCosts_DB",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "directory": {
                                        "value": "@concat(pipeline().parameters.Directory_AzureCosts,'/',item().name)",
                                        "type": "Expression"
                                    },
                                    "container": {
                                        "value": "@pipeline().parameters.Container_AzureCosts",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "Directory_AzureCosts": {
                "type": "string",
                "defaultValue": "test/TEST"
            },
            "Container_AzureCosts": {
                "type": "string",
                "defaultValue": "ppm"
            }
        },
        "variables": {
            "workspace": {
                "type": "String"
            },
            "currentDate_Year_Databricks": {
                "type": "String"
            },
            "currentDate_Month_Databricks": {
                "type": "String"
            },
            "currentDate_Day_Databricks": {
                "type": "String"
            }
        },
        "folder": {
            "name": "PPM Final deployable"
        },
        "annotations": [],
        "lastPublishTime": "2023-06-27T15:57:41Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}