Sub_AzureSQLCosts.txt
{
    "name": "Sub_AzureCosts",
    "properties": {
        "activities": [
            {
                "name": "Get Metadata",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "SD_AzureCosts",
                        "type": "DatasetReference",
                        "parameters": {
                            "Directory": {
                                "value": "@pipeline().parameters.directory",
                                "type": "Expression"
                            },
                            "Filename": {
                                "value": "@coalesce(null)",
                                "type": "Expression"
                            },
                            "Container": {
                                "value": "@pipeline().parameters.container",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get Metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get Metadata').output.childItems",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Copy data",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "SftpWriteSettings",
                                        "copyBehavior": "FlattenHierarchy",
                                        "operationTimeout": "01:00:00",
                                        "useTempFileRename": true
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".csv"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "mappings": [
                                        {
                                            "source": {
                                                "ordinal": 1
                                            },
                                            "sink": {
                                                "name": "DETAILS",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        }
                                    ],
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "SD_AzureCosts",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "Directory": {
                                            "value": "@pipeline().parameters.directory",
                                            "type": "Expression"
                                        },
                                        "Filename": {
                                            "value": "@item().name",
                                            "type": "Expression"
                                        },
                                        "Container": {
                                            "value": "@pipeline().parameters.container",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DD_AzureCosts",
                                    "type": "DatasetReference"
                                }
                            ]
                        },
                        {
                            "name": "Delete file once processed",
                            "type": "Delete",
                            "dependsOn": [
                                {
                                    "activity": "Copy data",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "SD_AzureCosts",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "Directory": "@pipeline().parameters.directory",
                                        "Filename": "@item().name",
                                        "Container": "@pipeline().parameters.container"
                                    }
                                },
                                "enableLogging": false,
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "directory": {
                "type": "string"
            },
            "filename": {
                "type": "string"
            },
            "container": {
                "type": "string"
            }
        },
        "folder": {
            "name": "PPM Final deployable"
        },
        "annotations": [],
        "lastPublishTime": "2023-06-20T13:45:28Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
